@model IEnumerable<NetMed.WebApi.Models.DoctorAvailability.DoctorAvailabilityModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index DoctorAvailability</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.availabilityID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.doctorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.availableDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.startTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.availabilityID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.doctorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.availableDate)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.startTime)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.endTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.availabilityID}) |
                @Html.ActionLink("Details", "Details", new { id=item.availabilityID }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.availabilityID  })
            </td>
        </tr>
}
    </tbody>
</table>
